/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper {
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
.row .col-16 {
  display: inline;
  float: left;
  width: 1260px;
  margin: 0 10px;
}
.row .push-16 {
  margin-left: 1290px;
}
.row .pull-16 {
  margin-right: 1290px;
}
.row .col-15 {
  display: inline;
  float: left;
  width: 1180px;
  margin: 0 10px;
}
.row .push-15 {
  margin-left: 1210px;
}
.row .pull-15 {
  margin-right: 1210px;
}
.row .col-14 {
  display: inline;
  float: left;
  width: 1100px;
  margin: 0 10px;
}
.row .push-14 {
  margin-left: 1130px;
}
.row .pull-14 {
  margin-right: 1130px;
}
.row .col-13 {
  display: inline;
  float: left;
  width: 1020px;
  margin: 0 10px;
}
.row .push-13 {
  margin-left: 1050px;
}
.row .pull-13 {
  margin-right: 1050px;
}
.row .col-12 {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
}
.row .push-12 {
  margin-left: 970px;
}
.row .pull-12 {
  margin-right: 970px;
}
.row .col-11 {
  display: inline;
  float: left;
  width: 860px;
  margin: 0 10px;
}
.row .push-11 {
  margin-left: 890px;
}
.row .pull-11 {
  margin-right: 890px;
}
.row .col-10 {
  display: inline;
  float: left;
  width: 780px;
  margin: 0 10px;
}
.row .push-10 {
  margin-left: 810px;
}
.row .pull-10 {
  margin-right: 810px;
}
.row .col-9 {
  display: inline;
  float: left;
  width: 700px;
  margin: 0 10px;
}
.row .push-9 {
  margin-left: 730px;
}
.row .pull-9 {
  margin-right: 730px;
}
.row .col-8 {
  display: inline;
  float: left;
  width: 620px;
  margin: 0 10px;
}
.row .push-8 {
  margin-left: 650px;
}
.row .pull-8 {
  margin-right: 650px;
}
.row .col-7 {
  display: inline;
  float: left;
  width: 540px;
  margin: 0 10px;
}
.row .push-7 {
  margin-left: 570px;
}
.row .pull-7 {
  margin-right: 570px;
}
.row .col-6 {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
}
.row .push-6 {
  margin-left: 490px;
}
.row .pull-6 {
  margin-right: 490px;
}
.row .col-5 {
  display: inline;
  float: left;
  width: 380px;
  margin: 0 10px;
}
.row .push-5 {
  margin-left: 410px;
}
.row .pull-5 {
  margin-right: 410px;
}
.row .col-4 {
  display: inline;
  float: left;
  width: 300px;
  margin: 0 10px;
}
.row .push-4 {
  margin-left: 330px;
}
.row .pull-4 {
  margin-right: 330px;
}
.row .col-3 {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
}
.row .push-3 {
  margin-left: 250px;
}
.row .pull-3 {
  margin-right: 250px;
}
.row .col-2 {
  display: inline;
  float: left;
  width: 140px;
  margin: 0 10px;
}
.row .push-2 {
  margin-left: 170px;
}
.row .pull-2 {
  margin-right: 170px;
}
.row .col-1 {
  display: inline;
  float: left;
  width: 60px;
  margin: 0 10px;
}
.row .push-1 {
  margin-left: 90px;
}
.row .pull-1 {
  margin-right: 90px;
}
.row-fluid .col-16 {
  display: inline;
  float: left;
  width: 98.4375%;
  margin: 0 0.78125%;
}
.row-fluid .push-16 {
  margin-left: 100.78125%;
}
.row-fluid .pull-16 {
  margin-right: 100.78125%;
}
.row-fluid .col-15 {
  display: inline;
  float: left;
  width: 92.1875%;
  margin: 0 0.78125%;
}
.row-fluid .push-15 {
  margin-left: 94.53125%;
}
.row-fluid .pull-15 {
  margin-right: 94.53125%;
}
.row-fluid .col-14 {
  display: inline;
  float: left;
  width: 85.9375%;
  margin: 0 0.78125%;
}
.row-fluid .push-14 {
  margin-left: 88.28125%;
}
.row-fluid .pull-14 {
  margin-right: 88.28125%;
}
.row-fluid .col-13 {
  display: inline;
  float: left;
  width: 79.6875%;
  margin: 0 0.78125%;
}
.row-fluid .push-13 {
  margin-left: 82.03125%;
}
.row-fluid .pull-13 {
  margin-right: 82.03125%;
}
.row-fluid .col-12 {
  display: inline;
  float: left;
  width: 73.4375%;
  margin: 0 0.78125%;
}
.row-fluid .push-12 {
  margin-left: 75.78125%;
}
.row-fluid .pull-12 {
  margin-right: 75.78125%;
}
.row-fluid .col-11 {
  display: inline;
  float: left;
  width: 67.1875%;
  margin: 0 0.78125%;
}
.row-fluid .push-11 {
  margin-left: 69.53125%;
}
.row-fluid .pull-11 {
  margin-right: 69.53125%;
}
.row-fluid .col-10 {
  display: inline;
  float: left;
  width: 60.9375%;
  margin: 0 0.78125%;
}
.row-fluid .push-10 {
  margin-left: 63.28125%;
}
.row-fluid .pull-10 {
  margin-right: 63.28125%;
}
.row-fluid .col-9 {
  display: inline;
  float: left;
  width: 54.6875%;
  margin: 0 0.78125%;
}
.row-fluid .push-9 {
  margin-left: 57.03125%;
}
.row-fluid .pull-9 {
  margin-right: 57.03125%;
}
.row-fluid .col-8 {
  display: inline;
  float: left;
  width: 48.4375%;
  margin: 0 0.78125%;
}
.row-fluid .push-8 {
  margin-left: 50.78125%;
}
.row-fluid .pull-8 {
  margin-right: 50.78125%;
}
.row-fluid .col-7 {
  display: inline;
  float: left;
  width: 42.1875%;
  margin: 0 0.78125%;
}
.row-fluid .push-7 {
  margin-left: 44.53125%;
}
.row-fluid .pull-7 {
  margin-right: 44.53125%;
}
.row-fluid .col-6 {
  display: inline;
  float: left;
  width: 35.9375%;
  margin: 0 0.78125%;
}
.row-fluid .push-6 {
  margin-left: 38.28125%;
}
.row-fluid .pull-6 {
  margin-right: 38.28125%;
}
.row-fluid .col-5 {
  display: inline;
  float: left;
  width: 29.6875%;
  margin: 0 0.78125%;
}
.row-fluid .push-5 {
  margin-left: 32.03125%;
}
.row-fluid .pull-5 {
  margin-right: 32.03125%;
}
.row-fluid .col-4 {
  display: inline;
  float: left;
  width: 23.4375%;
  margin: 0 0.78125%;
}
.row-fluid .push-4 {
  margin-left: 25.78125%;
}
.row-fluid .pull-4 {
  margin-right: 25.78125%;
}
.row-fluid .col-3 {
  display: inline;
  float: left;
  width: 17.1875%;
  margin: 0 0.78125%;
}
.row-fluid .push-3 {
  margin-left: 19.53125%;
}
.row-fluid .pull-3 {
  margin-right: 19.53125%;
}
.row-fluid .col-2 {
  display: inline;
  float: left;
  width: 10.9375%;
  margin: 0 0.78125%;
}
.row-fluid .push-2 {
  margin-left: 13.28125%;
}
.row-fluid .pull-2 {
  margin-right: 13.28125%;
}
.row-fluid .col-1 {
  display: inline;
  float: left;
  width: 4.6875%;
  margin: 0 0.78125%;
}
.row-fluid .push-1 {
  margin-left: 7.03125%;
}
.row-fluid .pull-1 {
  margin-right: 7.03125%;
}
@-ms-viewport {
  width: device-width;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
@media only screen and (max-width: 320px) and (max-width: 479px) {
  
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
}
@media only screen and (min-width: 992px) and (max-width: 1381px) {
  
}
@media only screen and (min-width: 1382px) {
  .wrapper {
    width: 1760px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}
/* ---- setup ---- */
html {
  font-size: 16px;
}
body {
  background: #f0f0f0;
}
