@import "utilities";
// GRID
// --------------------------------------------------

/* example of use */
@column-width: 60;
@gutter-width: 20;
@columns: 16;

// default grid
.loopingClass (@index) when (@index > 0) {

	(~".col-@{index}"){.column(@index)}

	// next iteration
	.loopingClass(@index - 1);

}

.loopingClass (0) {}
.loopingClass (@columns);

/*

@media (max-width: 480px) {
   article { .column(12); }
   aside { .column(12); }
}
*/

/* mode fluid */
// todo : créer une classe parente genre .grid-fluid et pas de classe représente la version "normal"

/* mode fluid */

@total-width: 100%; // Switch from pixels to percentages


// définir une structure wrap - inner - content

@media (max-width: 480px) {
}
@media (min-width: 481px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 800px) {
}
@media (min-width: 801px) and (max-width: 1024px) {
}
@media (min-width: 1025px) and (max-width: 1280px) {
}
@media (min-width: 1281px) and (max-width: 1344px) {
}
@media (min-width: 1345px) and (max-width: 1440px) {
}
@media (min-width: 1441px) and (max-width: 1920px) {
}
@media (min-width: 1921px) and (max-width: 2560px) {
}
